################################################################################
## Jekyll
################################################################################
.jekyll-metadata
public
site/assets/js/app.js
site/assets/css/app.css

################################################################################
## Node
################################################################################
node_modules

################################################################################
## System files
################################################################################
.ds_store