################################################################################
## Jekyll
################################################################################
.jekyll-metadata
public
assets/js/app.js
assets/css/app.css

################################################################################
## Node
################################################################################
node_modules

################################################################################
## System files
################################################################################
.ds_store